/* Página Inteira */
.page {
    background-color: #181716;
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
}


/* Logo */
.logo {
    width: 120px;
}


/* Navegação */
.navbar {
    background-color: #181716;
    color: white;
    padding: 0;
    height: 60px;
}
.navbar-brand {
    color: white;
}
.nav-item {
    display: flex;
    align-items: center;
    color: white;
    margin: 20px;
}
.nav-item:hover {
    font-weight: bold;
    border-bottom: 3px solid #9E2A2B;
}
.navbar-nav .nav-link {
    color: #fff;
}
.navbar-nav .nav-link.active {
    color:white;
    border-bottom: 3px solid #9E2A2B;
}
.navbar .btn-outline-success {
    color: #9E2A2B;
    border-color: #9E2A2B;
    border: 2px solid #9E2A2B
}
.navbar .btn-outline-success:hover {
    background-color: #a72828;
    color: #fff;
}


/* Rodapé */
.footer {
    background-color: #1d1d1d;
    color: #fff;
    padding: 40px 0;
}
.footer .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 120px;
}
.footer .logo img {
    width: 150px;
    height: auto;
    margin-right: 5px;
}
.footer .description {
    margin-bottom: 20px;
}
.footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}
.footer .contact {
    font-size: 18px;
    margin-bottom: 20px;
}
.footer .contact-form input[type="email"] {
    border: none;
    border-radius: 0;
    padding: 10px;
    display: inline-block;
    width: auto;
}
.footer .contact-form button {
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
}
.footer .bottom-links {
    margin-top: 20px;
}
.footer .bottom-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
.footer .btn-primary {
    color: #9E2A2B;
    border-color: #9E2A2B;
    border: 2px solid #9E2A2B
}
.footer .btn-primary:hover {
    background-color: #a72828;
    color: #fff;
}
.footer .footer-button {
    color: #fff;
    background-color: #1d1d1d;
    border-color: #9E2A2B;
    border: 2px solid #9E2A2B;
    font-size: 16px;
    padding: 10px 20px;
}
.footer .footer-button:hover {
    background-color: #a72828;
    color: #fff;
    font-weight: bold;
}


/* ------------------------------------------------------------------------------------------- */
